@black: #050920;

#aboutModalBody{

}


#floodToolsDiv{

    .panel-body{


        &.two-site{

        }
    }
}


@import 'map.less';
@import 'misc.less';


// Less transparent explanation
#legendElement #legendDiv{
    background-color: rgba(255,255,255,0.75) !important;
}


// Hazus Table
// Hazus Table
// Hazus Table
#hazusTable{
    margin: 15px auto;

    tr{
        font-size: 10px;
        border-bottom: 1px solid fade(@black, 10%);

        td,th{
            box-sizing: border-box;
            padding: 5px 6px;
            font-size: 10px !important;

            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5){
                text-align: right;
            }

            &:nth-child(3){
                width: 80px !important;
            }
            &:nth-child(5){
                width: 120px;
            }
        }

        // Table Header
        th{
            color: fade(@black, 40%) !important;
            line-height: 11px !important;
        }

        // Table body
        td{
            font-size: 12px !important;
            color: @black;
            font-weight: 600 !important;
        }
    }
}